.pipeline{
    width: 100%;
    margin: 10px auto;
    background-color: #fff;
    box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px;
    border-radius: 8px;
}
.taskboard{
    width: 96%;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
}
.heading{
    width: 98%;
    display: flex;
    align-items:center;
    justify-content:center;
}
.first-heading{
    width: 60%;
    text-align: left;
    margin-bottom: 13px;
}
.first-heading h2{
    color:  #2a3547;
    font-size: 1.4rem;
    font-weight: 500;
    padding-left: 13px;
    margin-top: 18px;
}
.create{
    width: 40%;
    text-align: right;
}
.create button{
    border-radius: 7px;
    width: 110px;
   background-color:#5d87ff;
   border: none;
   color: white;
   cursor: pointer;
   height: 32px;
   font-size: 0.85rem;
}




.dropbtn {
    /* background-color: #4CAF50; */
  background: transparent;
  border: none;
    cursor: pointer;
  }
  .dropbtn i{
    margin-top: 2px;
    font-size: 1rem !important;
    color: #26272c;
  }
  
  .dropdown {
    /* position: relative; */
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 0.85rem;
    border: 1px solid #c8d4e7;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    width: 150px;
    border-radius: 10px;
  }
  
  .dropdown-content a:hover {background-color: #fa896b}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .todo{
    width: 100%;
    display: flex;
 
  }
  .new-box{
    margin: 0 auto;
    width: 23%;
    display: flex;
    flex-direction: column;
   
  }
  .three{
    width: 100%;
        margin: 10px auto;
        padding-bottom: 14px;
        border-radius: 8px;
  }

  .three p span{
    color: #26272c;
    font-weight: 700;
  }

  .uper-com{
    width: 100%;
    background-color: #13deb9;
    margin-bottom: 10px;
    padding: 3px 0 !important;
    border-radius:7px;
    color: white;
  }
  .uper-com h3{
    width: 90% !important;
    margin: 5px auto;
    font-size: 1rem;
    font-weight: 400;
    color: white;
  }
  .uper h4{
    width: 90%;
    font-size: 0.9rem;
    font-weight: 700;
    color:  #2a3547;
    margin: 5px auto;
    margin-top: 10px;
  }
  .dropdown1{
    width: 11% !important;
  }
  .uper-cont{
    width: 100%;
    background-color: #5d87ff;
    padding:8px 0;
    border-radius:7px;
    color: white;
    margin-bottom: 10px;
  }
  .uper-cont h3{
    width: 90%;
    color:  white;
    font-size: 1rem;
    font-weight: 400;
    margin:0 auto;
  }
 
  .uper-progress{
    width: 100%;
    background-color:  #ffae1f;
    padding:8px 0;
    margin-bottom: 10px;
    border-radius:7px;
  }
  .uper-progress h3{
    width: 90%;
    margin:0 auto;
    font-size: 1rem;
    font-weight: 400;
    color: white;
  }
  .uper-hold{
    width: 100%;
    background-color: #fa896b;
    margin-bottom: 10px;
    padding:8px 0;
    border-radius:7px;
  }
  .uper-hold h3{
    width: 90%;
    margin:0 auto;
    font-size: 1rem;
    font-weight: 400;
    color: white;
  }
  .uper{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0px auto;
  }
  .three p{
    width: 90%;
    margin: 7px auto;
    font-size: 0.85rem;
    font-weight: 400;
    color:  #2a3547;
  }
  .first-bb{
    background-color: #ecf2ff;
  }
  .second-cc{
background-color: #fef5e5;
  }
  .third-dd{
background-color: #fdede8;
  }
  .four-ee{
   background-color:  #e6fffa;
  }