.image-container img {
    margin-left: -6px;
  }
  /* Danger CSS  */
  
  .cards.danger {
      border: 1px solid #f5b2b2;
  }
  .cards.danger::before {
      content: '';
      position: absolute;
      --dim: 100px;
      height:var(--dim);
      width:var(--dim);
      rotate: 45deg;
      background:red;
      --trans: -0.6;
      top: calc(var(--dim) * var(--trans));
      left: calc(var(--dim) * var(--trans))
  }
  .cards{
      position:relative;
      overflow:hidden;
  }
  .cards.danger hr{
      background-color: #f52d2d !important;
  }
  
  /* Warning CSS  */
  
  .cards.warning{
      border: 1px solid #f5c875;
  }
  
  .cards.warning::before {
      content: '';
      position: absolute;
      --dim: 100px;
      height:var(--dim);
      width:var(--dim);
      rotate: 45deg;
      background:#f39e1e;;
      --trans: -0.6;
      top: calc(var(--dim) * var(--trans));
      left: calc(var(--dim) * var(--trans))
  }
  .cards{
      position:relative;
      overflow:hidden;
  }
  .cards.warning hr{
      background-color: #f59a29 !important;
  }
  
  /* Outdated CSS start  */
  
  .cards.outdated{
      border: 1px solid #79bbc3;
  }
  .cards.outdated::before {
      content: '';
      position: absolute;
      --dim: 100px;
      height:var(--dim);
      width:var(--dim);
      rotate: 45deg;
      background:#407E85;
      --trans: -0.6;
      top: calc(var(--dim) * var(--trans));
      left: calc(var(--dim) * var(--trans))
  }
  .cards{
      position:relative;
      overflow:hidden;
  }
  .cards.outdated hr{
      background-color: #61adb7 !important;
  }
  
  .comments{
      display:flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;
  }
  .comment-one{
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: center;
      padding: 5px 0;
  }
  .comment-two{
          width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 0;
      border: 1px solid #f0f0f5;
      border-left: none;
      border-right: none;
  }
  .comment-three{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 0;
  }
  .proimg{
      height: 40px !important;
      display: flex;
      /* align-items: center; */
      justify-content: center;
      width: 40px !important;
      overflow: hidden;
      border-radius: 50%;
  }
  .proimg img{
      width: 100% !important;
  }
  .comment-one p{
      width:64%;
      margin: auto 10px;
      font-size: 0.9rem;
      color: #424952;
  }
  .comment-two p{
      width:64%;
      margin: auto 10px;
      font-size: 0.9rem;
      color: #424952;
  }
  .comment-three p{
      width:64%;
      margin: auto 10px;
      font-size: 0.9rem;
      color: #424952;
  }
  .numdate{
      width:27%;
      text-align: center;
  }
  .numdate span{
      font-size: 0.84rem;
      font-weight: 600;
      color: #898d95;
      padding: 5px 9px;
      border-radius: 4px;
  }
  .summarySpan{
      font-size: 14px;
      font-weight: 700;
  }
  .summryproimg {
      height: 50px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px !important;
      overflow: hidden;
      border-radius: 19%;
  }
  .summarydiv{
      text-align:center;
      margin-top: 11px
  }
  .summaryfisrtdiv{
      margin-top: 11px
  }
  .aaa{
      display: flex; align-items: center; justify-content: center; text-align: center; 
  }
  a:hover {
    background-color: none;
  }
  .completedBadge{
      background: linear-gradient(to right, #05fd8d, #008a4c);
      width: 105% !important;
      color: #fff !important;
      text-transform: none;
      padding-left: 17px;
      padding-right: 17px;
      padding-top: 10px;
      padding-bottom: 9px;
      margin-right: 11px;
  }
  .checkbox{
      width:81%;
  }
  .remarkbox{
      position: relative;
  }
  .view-btn{
      width: 100px;
      position: absolute;
      bottom: -11px;
      right: 9px;
  }
  .lowerbtn{
      width: 100px;
      font-size: 0.8rem;
      color: #ffffff;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      border: none;
      height: 28px;
      border-radius: 5px;
      background: #eda41b;
      box-shadow: 1px 1px 4px -1px #f396f3;
  }

  .dropdown-toggle{
    border: 1px solid #cb0c9f !important;
  }

  .highOne {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 2;
    color:black;
}
.highOne::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
     background: linear-gradient(to right, #b5dcfb 0%, #f8c4ef 100%);
    transition: width 0.8s ease-in-out;
    z-index: -1;
    color: white !important;
}
.highOne:hover::before {
    width: 100%;
    color:white;
}


.checkbox p{
    display: flex;
    align-items: start;
}

.checkbox p input{
    margin-top: 5px;
    margin-right: 6px;
}

@keyframes colorIncrease {
    0% {
      background-size: 0% 100%;
    }
    100% {
      background-size: 100% 100%;
    }
  }

  .text-background-animation {
    background-image: linear-gradient(to right, #ddf7e1 0%, #ddf7e1 100%);
    background-size: lightgreen;
    background-repeat: no-repeat;
    /* animation: colorIncrease 3s linear; */
    animation: colorIncrease 0.5s linear 1 forwards;
color: rgb(0, 0, 0);
  }
  .parachecked{
    font-weight: 400;
    color: #464748;
  }