
    .image-container {
  display: flex;
  flex-wrap: wrap;
}

.image-container img {
  margin-left: -6px;
}
/* Danger CSS  */

.cards.danger {
    border: 1px solid #f5b2b2;
}
.cards.danger::before {
    content: '';
    position: absolute;
    --dim: 100px;
    height:var(--dim);
    width:var(--dim);
    rotate: 45deg;
    background:red;
    --trans: -0.6;
    top: calc(var(--dim) * var(--trans));
    left: calc(var(--dim) * var(--trans))
}
.cards{
    position:relative;
    overflow:hidden;
}
.cards.danger hr{
    background-color: #f52d2d !important;
}

/* Warning CSS  */

.cards.warning{
    border: 1px solid #f5c875;
}

.cards.warning::before {
    content: '';
    position: absolute;
    --dim: 100px;
    height:var(--dim);
    width:var(--dim);
    rotate: 45deg;
    background:#f39e1e;;
    --trans: -0.6;
    top: calc(var(--dim) * var(--trans));
    left: calc(var(--dim) * var(--trans))
}
.cards{
    position:relative;
    overflow:hidden;
}
.cards.warning hr{
    background-color: #f59a29 !important;
}

/* Outdated CSS start  */

.cards.outdated{
    border: 1px solid #79bbc3;
}
.cards.outdated::before {
    content: '';
    position: absolute;
    --dim: 100px;
    height:var(--dim);
    width:var(--dim);
    rotate: 45deg;
    background:#407E85;
    --trans: -0.6;
    top: calc(var(--dim) * var(--trans));
    left: calc(var(--dim) * var(--trans))
}
.cards{
    position:relative;
    overflow:hidden;
}
.cards.outdated hr{
    background-color: #61adb7 !important;
}

.comments{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.comment-one{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}
.comment-two{
        width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    border: 1px solid #f0f0f5;
    border-left: none;
    border-right: none;
}
.comment-three{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}
.proimg{
    height: 40px !important;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 40px !important;
    overflow: hidden;
    border-radius: 50%;
}
.proimg img{
    width: 100% !important;
}
.comment-one p{
    width:64%;
    margin: auto 10px;
    font-size: 0.9rem;
    color: #424952;
}
.comment-two p{
    width:64%;
    margin: auto 10px;
    font-size: 0.9rem;
    color: #424952;
}
.comment-three p{
    width:64%;
    margin: auto 10px;
    font-size: 0.9rem;
    color: #424952;
}
.numdate{
    width:27%;
    text-align: center;
}
.numdate span{
    font-size: 0.84rem;
    font-weight: 600;
    color: #898d95;
    padding: 5px 9px;
    border-radius: 4px;
}
.summarySpan{
    font-size: 14px;
    font-weight: 700;
}
.summryproimg {
    height: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px !important;
    overflow: hidden;
    border-radius: 19%;
}
.summarydiv{
    text-align:center;
    margin-top: 11px
}
.summaryfisrtdiv{
    margin-top: 11px
}
.aaa{
    display: flex; align-items: center; justify-content: center; text-align: center; 
}
a:hover {
  background-color: none;
}
.completedBadge{
    background: linear-gradient(to right, #05fd8d, #008a4c);
    width: 105% !important;
    color: #fff !important;
    text-transform: none;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 9px;
    margin-right: 11px;
}


.box-one span {
    width: 55% !important;
}
.box-one p {
    width: 35% !important;
}
.dott {
    width: 23px;
    background: #ded7dc;
    font-size: 12px;
    color: #f20a95;
    font-size: 12px;
    border-radius: 17%;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.dropdown-toggle {
    width: 100%;
    padding-right: 25px;
    z-index: 1;
    border: 1px solid #cb0c9f !important;
}
.dropdown-toggle:focus {
    outline: 0 !important;
}
#loader {
canvas {
width: 240px;
height: 240px;
}
}

html {
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
}

* {
box-sizing: inherit;
&:before,
&:after {
box-sizing: inherit;
}
}


#loader {
display: none;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
background: rgba(0,0,0,0.75) url(https://media.geeksforgeeks.org/wp-content/uploads/20230723195619/GfG-Image.png) no-repeat center center;
z-index: 10000;
}
.status{
font-size:0.95rem;
font:Arial, Helvetica, sans-serif;
color:#fff;
}
